// Login button
.login-button {
  background: none;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  padding: 9px 13px;
  border-radius: 8px;
  font-size: 20px;
  font-style: bold;
  &:hover{
    background: rgba(255, 255, 255, 0.226);
    border: 2px solid white;
  }
}