.launch_navbar_container {
  .launch_navbar{
    background: #000 !important;
    box-shadow: 0px -1px 34px 0px #ffffff8c;
  }
  .navbar-brand, .navbar_link{
    color: white !important;
  }

  #nav-dropdown{
    color: white;
  }

  .dropdown-toggle{
    color: white !important;
  }
}