@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

.loading-spinner{
  height: 50%;
  background-color: black;
  padding-top: 100px;
  margin: 0 auto;
}

.loader{
	border:3px solid #ffffff; /*  #d6336c */
	width:200px;
	height:200px;
	border-radius:50%; 
	border-left-color: transparent;
  border-right-color: transparent;
	animation:rotate 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite;
}
/* #loader1{
  border:3px solid #d6336c;
} */
#loader2{
	border:3px solid #ffffff; /*  #3bc9db */
	width:220px;
	height:220px;
	position:relative;
	top:-211px;
	border-left-color: transparent;
  border-right-color: transparent;
  animation:rotate2 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite;
  
}
#loader3{
	border:3px solid #ffffff; /*  #d6336c */
	width:240px;
	height:240px;
	position:relative;
	top:-441px;
	border-left-color: transparent;
  border-right-color: transparent;
	animation:rotate 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite;
}
#loader4{
	border:3px solid #ffffff; /*  #3bc9db */
	width:260px;
	height:260px;
	position:relative;
	top:-691px;
	border-left-color: transparent;
  border-right-color: transparent;
  animation:rotate2 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite;
  box-shadow: 0 0 10px #9ecaed;
}
@keyframes rotate{
	0%{transform:rotateZ(-360deg)}
	100%{transform:rotateZ(0deg)}
}
@keyframes rotate2{
	0%{transform:rotateZ(360deg)}
	100%{transform:rotateZ(0deg)}
}
#text{
	color:white;
  font-family: 'Exo 2', sans-serif;
	font-size:20px;
	position:relative;
	top:-840px;
}